@import "tailwindcss";
@plugin "daisyui";
/* Permanent Marker (Playful) and Poppins (Primary) imported together */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0F83B2;
  --color-secondary: #d72050;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}

*{
  font-family: "Poppins", sans-serif; 
}

.font-playful {
    font-family: "Permanent Marker", cursive;
}

/* Custom style for active NavLink */
a.active{
  @apply bg-base-300 ;
}
